.btn-google {
  @include button-outline-variant($studee-google, white, $studee-google);
}

.btn-facebook {
  @include button-outline-variant($studee-facebook, white, $studee-facebook);
}

.btn-link {
  font-weight: 700;
}